@font-face {
    font-family: OrkneyRegular;
    src: url('fonts/orkney-regular.otf');
}

#welcome {
    color: teal;
}

#inputbox {
    border-radius: 4px;
    width: 200px;
    height: 30px;
    margin: 5px;
    outline: none;
    padding: 5px;
    transition: 0.3s;
}

#inputbox:focus {
    border-color: blue;
    box-shadow: 0 0 5px 0 blue;
}

#clickButton {
    border-radius: 5px;
    color: blue;
    background-color: white;
}

.body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
}

.game {
    grid-column: 2/3;
    border-color: teal;
    font-family: OrkneyRegular;
}