    <perch:content id="slug" type="slug" for="nameNews" suppress="true" />
    <div class="sharpCardNews">
        <img src="<perch:content id="tilePicture" label="Card Picture" type="image" height="700" width="1600" />">
        <div class="textCardNews">
            <h2><perch:content id="dateNews" label="Date" type="date" format="d F Y" /></h2>
            <h1><perch:content id="nameNews" label="Title" type="text" required="true" title="true" /></h1>
            <p><perch:content id="tileText" label="Short Description" type="textarea" required="true" /></p>
            <div class="tilemore"><a href="?s=<perch:content id="slug" type="slug" for="heading" />"><h1>Read More</h1></a></div>
            <perch:if not-exists="tileText">
                <perch:content id="tileTextLong" type="textarea" label="Long Description"/>
            </perch:if>
        </div>
    </div>
    <div class="headerSpace"></div>
