<section class="sponsors">

    <div class="whiteCaption" id="sponsorHeadingBackgound">
        <h2><perch:content id="heading" type="text" label="Heading" required="true" title="true" /></h2>
    </div>
    
    <perch:if exists="text">
         <div class="testimonials">
            <div class="container textCenter">
              <p><perch:content id="text" type="textarea" label="Text" html="true" editor="redactor" /></p>
            </div>
          </div>
    </perch:if>

    <div class="container" style="overflow: hidden;">
        <div class="row">

        <perch:repeater id="logos" label="Logos">
            <perch:content type="image" id="image" label="Image" quality="85" width="200" height="85" suppress="true" />
            <perch:content type="url" id="link" label="Link" help="Enter the full http:// address" suppress="true" />
            <perch:content id="name" type="text" label="Name" suppress="true"  />
            
            <figure class="supportImagesSponsor col-sm-4">
                <perch:if exists="link"><a href="<perch:content id="link" />" target="_blank"></perch:if>
                    <perch:if exists="image">
                        <img src="<perch:content id="image" />" alt="<perch:content id="name"  />" />
                     <perch:else />
                        <p><perch:content id="name"  /></p>
                    </perch:if>
                <perch:if exists="link"></a></perch:if>
            </figure>

            <perch:every count="5">
                <div class="clearfix"></div>
        </perch:every>

        </perch:repeater>


        </div>
    </div>
</section>
