/* GLOBAL VARIABLES */
@font-face {
    font-family: OrkneyRegular;
    src: url('fonts/orkney-regular.otf');
}

@font-face {
    font-family: OrkneyMedium;
    src: url('fonts/orkney-medium.otf');
}

@font-face {
    font-family: OrkneyBold;
    src: url('fonts/orkney-bold.otf');
}

@font-face {
    font-family: OrkneyLight;
    src: url('fonts/orkney-light.otf');
}

:root {
  /*--Color1: #333;*/
  --Color1: #ADADAD;
  /*Dark grey*/

  /*--Color2: #005871;*/
  /*--Color2RGB: 0, 88, 113;*/
  --Color2: #57BAD6;
  --Color2RGB: 87, 186, 214;
  /*Dark teal*/

  --Color3: #fff;
  /*White*/

  /*--Color4: #e7e7e7;*/
  --Color4: #EBEBEB;
  /*Light grey*/

  /*--Color5: #01BBFE;*/
  --Color5: #BCE3EE;
  /*Light teal*/

  /*--Color6: #008cb4;*/
  /*--Color6RGB: 0, 140, 180;*/
  --Color6: #9AD5E6;
  --Color6RGB: 154, 213, 230;
  /*Medium teal*/

  /*--Color7: #1a1a1a;*/
  --Color7: #999999;
  /*Dark grey for slideshow*/
	
	
	/*New Colors- 19 June*/
	
  --Color1: #ADADAD;
  --Color2: #57BAD6;
  --Color2RGB: 49,167,201;
  --Color3: #fff;
  --Color4: #EBEBEB;
  --Color5: #BCE3EE;
  --Color6: #9AD5E6;
  --Color6RGB: 93,188,215;
  --Color7: #999999;

/*GMR Website Color Modifier Starts (Maeve) 	#000000*/

  --Color1: #ADADAD; 		/*Effects the Events section and twitter feed in the homepage */
  --Color2: #57BAD6; 		/*Effects Some Fonts and Buttons on multiple pages*/
  --Color2RGB: 49,167,201; 	/*Effects the header and some layouts in some pages*/
  --Color2Header: 238, 238, 238;
  --Color3: #fff; 		/*Effects some texts and buttons*/
  --Color4: #EBEBEB; 		/*Effects the footer color*/
  --Color5: #BCE3EE; 		/*Effects the slider below the header*/
  --Color6: #9AD5E6; 		/*Effects slideshow caption background color and some borders */
  --Color6RGB: 93,188,215; 	/*Effects subheader color */

/*GMR Website Color Modifier Ends (Maeve)*/

	/*
	
  --Color2RGB: 238, 238, 238;
	*/
}

/* LAYOUT (Header & Footer) */
body {
    font-size: 17px;
    line-height: 22px;
    font-family: OrkneyRegular;
    background: white !important;
}



/* Icons fix */

@media (max-width:500px){
  #follow article {
      border-bottom: 1px solid var(--Color3);
      font-size: 14px;
  }
  #follow article{
      text-align: center;
  }
  body{
    font-size: 14px;
  }

}

h1,
h2,
h3 {
    margin: 0 0 20px;
    padding: 0;
    font-weight: normal;
    padding-top: 10px;
}

h1 {
    font-size: 30px;
    line-height: 1.4em;
    margin-bottom: 30px;
    font-family: OrkneyBold;
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: OrkneyBold;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: OrkneyBold;
}

h2 a,
h2 a:hover {
    color: var(--Color1);
}

a,
a:active,
a:focus {
    color: var(--Color2);
}

a:hover {
    color: var(--Color2);
    text-decoration: underline
}

p {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto
}

#header {
    background: var(--Color3);
}

#header .container {
    position: relative;
    height: 115px;
}

#title {
    background: var(--Color1);
    padding: 20px 0;
}

#title h1 {
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: var(--Color3);
}

#social {
    float: right;
}

#social li {
    margin: 17% 5px 5px 5px !important;
}

#social img {
    width: 60px;
    height: auto;
}

#footer {
    background: var(--Color4);
}

#footer .container {
    padding: 0 20px;
}

#footer img:hover {
    transform: scale(1.1);
}

#siteinfo {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 10px;
}

#siteinfo .list-logos li {
    margin: 20px 20px 20px 0;
    padding: 5px !important;
}

#siteinfo .list-links a {
    text-transform: uppercase;
    margin-right: 20px;
}

#siteinfo a {
    color: black !important;
}

#copyright {
    background: var(--Color2) !important;
    line-height: 20px;
    font-size: 13px;
    overflow: auto;
}

#copyright .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

#copyright p {
    float: left;
    margin: 0;
    color: white;
}

.sponsors {
    border-bottom: 1px solid var(--Color4);
}

.sponsors h2 {
    margin-bottom: 30px;
}

.sponsors h3 {
    font-size: 20px;
    color: white;
}

.sponsors img {
    height: auto;
    width: 200px;
}

.sponsors figure {
    text-align: center;
    line-height: 80px;
}

.sponsors figure p {
    line-height: 20px;
}

.equalise {
    position: relative
}

/* HOMEPAGE */
#slideshow {
    justify-content: center;
}

#slideshow img {
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.flex-viewport li {
    background-color: var(--Color4);
}

/* Social Media */
.col-sm-6 {
    background-color: var(--Color1);
    height: auto;
}

.subscribe {
    text-align: left;
}

#follow {
    background: var(--Color1);
    border-top: 5px solid var(--Color1);
    text-align: center;
}

#follow article {
    padding: 20px;
}

#follow article:last-of-type .wrap {
    border: 0;
}

#follow h2 {
    color: white;
}

#follow a {
    color: var(--Color5);
}

#follow h3,
#follow p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

/* GPDR */
#gdpr-cookie-message {
    z-index: 999999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 375px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

#gdpr-cookie-message h4,
#gdpr-cookie-message h5 {
    color: var(--Color6);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

#gdpr-cookie-message p,
#gdpr-cookie-message ul {
    color: black;
    font-size: 15px;
    line-height: 1.5em;
}

#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}

#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}

#gdpr-cookie-message a {
    color: var(--Color6);
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    transition: all 0.1s ease-in;
}

#gdpr-cookie-message a:hover {
    border-bottom-color: var(--Color2);
    transition: all 0.1s ease-in;
}

#gdpr-cookie-message button,
button#ihavecookiesBtn {
    background: var(--Color6);
    color: white;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border: 2px solid var(--Color6);
}

#gdpr-cookie-message button:hover {
    background: white;
    color: var(--Color6);
    transition: all 0.3s ease-in;
}

/* NEW ELEMENTS */
.topImage img {
    width: 100%;
}

#supportTable{
    margin: 0 auto;
}

.picture {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.supportImagesSponsor img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    overflow: auto;
	margin-top: 15px;
    margin-bottom: 15px;
	width: inherit;
    
}

.supportImagesSponsor:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.supportImagesSponsor p {
    color: white;
    font-family: OrkneyBold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.noPadding {
    padding: 0 !important;
}

/* Albums */
.color {
    height: 20px;
    background: var(--Color4);
}

.albums {
    color: white;
    text-align: center;
}

.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: var(--Color6);
    color: var(--Color3);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
    margin: 0 !important;
}

.flex-caption-right {
    width: 100%;
    padding: 2%;
    padding-right: 4%;
    text-align: right;
    bottom: 0;
    background: var(--Color6);
    color: var(--Color3);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
    margin: 0 !important;
}

.flexslider {
    border: 0 !important;
}

.flex-control-nav {
    position: static !important;
    background: white !important;
    padding-top: 10px !Important;
}

.slideshow {
    background: white !important;
}

.slides {
    background: white;
}

.flex-direction-nav a {
    padding-top: 10px;
}

.slideGrid {
    display: flex;
}

.slideFilter {
    display: flex;
    background: white;
    height: 25px;
}

.videoEmbed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-direction-nav .flex-next {
    right: 0 !important;
}

.picturesGallery {
    overflow: auto;
}

/* Sharp Edges Tile */
.sharpCard {
    width: 100%;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.90);
    display: grid;
    grid-template-columns: 230px auto;
}

.sharpCard img {
    width: 100%;
    height: 100%;
    max-width: 230px;
    grid-column: 1;
    object-fit: cover;
}

.sharpCardSupport {
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.90);
    display: grid;
    grid-template-columns: 250px auto 180px;
    grid-template-rows: 40px auto;
}

.sharpCardSupport h2 {
    padding-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.sharpCardSupport img {
    height: 100%;
    width: 100%;
    grid-column: 1;
    object-fit: cover;
}

.sharpCardSupport form {
    padding-top: 5px;
    height: 60px;
}

.sharpCardSupport p,
.sharpCardSupport li {
    font-family: OrkneyRegular !important;
    padding: 0 !important;
    font-size: 14px !important;
}

#supportPriceMonthly {
    padding-top: 10px;
}

.supportMonth p {
    margin: 0;
}

.supportMonth input {
    margin-top: 5px;
}

.stripe {
    grid-column: 1/4;
    background: var(--Color2);
}

.stripe h1 {
    color: white;
    font-size: 20px;
    padding-left: 15px;
}

.small {
    min-height: 70px !important;
    background: rgba(var(--Color2RGB), 0.9) !important;
}

.small p {
    color: white !important;
    font-size: 17px !important;
}

.textCard {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    grid-column: 2;
    display: grid;
    grid-template-rows: 4;
}

.textCard ul {
    margin-bottom: 0;
}

.textCard h1,
.textCard a {
    padding-top: 10px;
    bottom: 5px;
    margin-bottom: 0;
    font-family: OrkneyMedium;
    font-size: 18px;
    color: var(--Color2);
}

.textCard h2 {
    padding-top: 10px;
    font-family: OrkneyBold;
    font-size: 12px;
    color: black;
    margin-bottom: 0;
    text-decoration: underline;
    text-transform: uppercase;
}

.textCard p {
    padding-top: 10px;
    font-family: OrkneyLight;
    font-size: 13px;
    color: black;
    margin-bottom: 0;
}

/* Round Edges Tile */
.roundCard {
    width: 100%;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.90);
    display: grid;
    grid-template-columns: 270px auto;
    border-radius: 25px;
}

.roundCard img {
    height: 100%;
    width: auto;
    /*  max-width: 270px;*/
    grid-column: 1;
    border-radius: 25px;
    object-fit: cover;
}

/* Tiles */
.containerTile {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    height: max-content;
    flex-flow: row wrap;
    counter-reset: brick;
}

.containerTile img {
    width: 390px;
    height: 350px;
    object-fit: cover;
}

.tile {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 120px;
}

.tile img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.tileEvent {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    max-width: 400px;
}

.tileEvent h2 {
    font-size: 20px;
    color: white;
}

.tileEvent p {
    color: white;
}

.textTile {
    z-index: 2;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display: grid;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textTile h1 {
    margin-bottom: 0;
    font-family: OrkneyBold;
    text-transform: uppercase;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}

.textTile h2 {
    margin-bottom: 0;
    padding-top: 0;
    font-family: OrkneyBold;
    font-size: 22px !important;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}

.textTile a {
    font-family: OrkneyBold;
    font-size: 15px;
    color: var(--Color2);
}

.textTileHome {
    font-family: OrkneyRegular !important;
    font-size: 30px !important;
    color: var(--Color2) !important;
}

.textTileStaff {
    font-family: Calibri !important;
    font-style: italic;
    font-size: 30px;
    color: var(--Color2) !important;
}

.textTileBackground {
    width: 410px;
    position: absolute;
    transform: translate(15px, -30px);
    padding-bottom: 20px;
}
{
}

@media (max-width:601px){
  .textTile h2 {
    font-size: 16px !important;
  }
}
/* Tile Overlay */
/* https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp */
.overlay-tile {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgb(var(--Color2RGB), 0.85);
    overflow-y: hidden;
    left: 0;
    top: 0;
    transition: 0.5s;/
}

.overlay-tile a {
    text-decoration: none;
}

.overlay-tile .closebtn {
    top: 60px;
    right: 60px;
    font-size: 80px;
    position: absolute;
    cursor: pointer;
    color: white;
    z-index: 11;
}

.overlay-tile .closebtn:hover {
    color: black;
}

p.overlay-tile-header {
    font-family: OrkneyBold;
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 30px;
    color: white;
}

p.overlay-tile-content {
    font-family: OrkneyBold;
    padding-top: 80px;
    color: white;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.tilemore {
    font-family: OrkneyBold;
    font-size: 15px;
    color: var(--Color2);
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.tilemore:hover {
    text-decoration: underline;
}

.tilemore:hover a {
    text-decoration: underline;
    color: var(--Color2);
}

/* Captions */
/* https://hugh.blog/2011/12/09/making-a-semi-transparent-background-behind-opaque-text-in-css/ */
.headerSpace {
    padding-top: 65px;
}

.headerSpaceLong {
    padding-top: 97px;
}

.blueHomeMessage h2 {
    color: var(--Color3);
}

.blueHomeMessage p {
    color: var(--Color3);
}

.blueCaption {
    background: rgb(var(--Color2RGB));
    background: rgba(var(--Color2RGB), 0.85);
    text-align: center;
}

.blueCaption h1,
.blueCaption h2 {
    margin-bottom: 0;
    color: var(--Color3);
}

.whiteCaption {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.whiteCaption h1,
.whiteCaption h2 {
    margin-bottom: 0;
    color: var(--Color2);
}

/*
#sponsorHeadingBackgound
{
	background: rgb(255,0,0);
	background: rgba(255,0,0, 0.85);
}
*/

.greyCaption {
    background: var(--Color1);
    text-align: center;
}

.greyCaption h1 {
    padding-bottom: 20px;
    margin-bottom: 0;
    color: white;
}

.whiteTextBox {
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
}

.whiteTextBox p {
    font-family: OrkneyRegular;
    font-size: 20px;
    font-style: italic;
    color: var(--Color2);
}

.whiteTextBox h1 {
    margin-bottom: 0;
    color: var(--Color2);
}

.whiteTextBoxSingle {
    background: rgba(255, 255, 255, 0.85);
    text-align: left;
    padding-top: 10px;
}

.contactBox p {
    margin-bottom: 5px;
}

.blue p {
    color: var(--Color2) !important;
}

.spaceTop {
    margin-top: 30px !important;
}

.spaceBelow {
    margin-bottom: 30px !important;
}

.container strong {
    font-weight: normal;
    font-family: OrkneyBold;
    color: var(--Color2);
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridContainer p {
    padding-left: 50px;
    padding-right: 50px;
}

.left {
    padding-left: auto;
    padding-right: 20px;
    text-align: left !important;
}

/* Testimonials */
.testimonials {
    padding: 10px;
    background: rgba(0, 0, 0, 0.35);
    text-align: left;
}

.testimonials p {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

.testimonials said {
    font-family: OrkneyBold;
    font-size: 16px;
    color: white;
    margin-bottom: 0;
}

/*  Gallery */
.section {
    text-align: center;
}

.overlayVideo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transition: .3s ease;
}

.videoContainer:hover .overlayVideo {
    opacity: 0;
}

.imageContainer {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.imageContainer .overlayImage {
    position: absolute;
    height: 85%;
    width: 75%;
    left: 12.5%;
    top: 7.5%;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(0, 1);
}

.imageContainer:hover .overlayImage {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}

.imageContainer:hover img {
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.imageContainer h2 {
    font-size: 15px;
    color: white;
    filter: alpha(opacity=0);
}

.box {
    list-style-type: none;
    float: left;
    margin-bottom: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.box-container img {
    max-height: 100%;
}

#picturesGalleryID {
    padding: 0;
}

.inviewport .box {
    transform: translateY(140px);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.box.visible {
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.box a {
    display: block;
    width: 100%;
    height: auto;
}

.box a img {
    -webkit-back-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
    vertical-align: bottom;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.box:hover img {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.three-cols .box {
    width: 32%;
}

.three-cols .box:nth-child(3n+1) {
    clear: both;
}

/* Buttons */
/* https://codepen.io/sazzad/pen/yNNNJG */
.btn {
    border: 1.4px solid;
    text-align: center;
    border-radius: 20px;
    line-height: 20px;
    padding: 12px;
    font-weight: 700;
    font-size: 13px;
}

.btn:hover {
    background: var(--Color3);
    color: var(--Color2);
}

.eventButton {
    background: var(--Color2);
}

.eventButton:hover {
    background: white;
}

.eventButton a {
    color: white;
}

#opening a.btn {
    min-width: 145px;
}

.filterButtons {
    border-radius: 0;
    border: 0;
    margin: 0 !important;
    float: left;
    display: inline;
    width: 50%;
}

.filter {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(242, 249, 255, 0.80);
}

.filter a {
    font-family: OrkneyBold;
    font-size: 18px;
}

.filterFunction {
    font-family: OrkneyBold;
    font-size: 17px;
    color: var(--Color2);
}

#newsFilterFunction{
  display: grid;
  width: 100%;
  font-size: 15px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.filterFunctionFromDate{
  grid-column: 1;
  grid-row: 1;
}

.filterFunctionToDate{
  grid-column: 2;
  grid-row: 1;
}

.filterFunctionSearchByTerm{
  grid-column: 3;
  grid-row: 1;
}

.filterFunctionButton{
  grid-column: 2;
  grid-row: 2;
  padding-left: 50px;
}

@media (max-width:992px) {

  #newsContainer{
    padding-top: 40px;
  }

  #newsFilterFunction{
    font-size: 13px;
  }
  .filterFunctionFromDate{
    display: grid;
    grid-auto-rows: 2;
  }

  .filterFunctionFromDate label{
    grid-row: 1;
  }

  .filterFunctionFromDate input{
    grid-row: 2;
  }

  .filterFunctionToDate{
    display: grid;
    grid-auto-rows: 2;
  }

  .filterFunctionToDate label{
    grid-row: 1;
  }

  .filterFunctionToDate input{
    grid-row: 2;
  }

  .filterFunctionSearchByTerm{
    display: grid;
    grid-auto-rows: 2;
  }

  .filterFunctionSearchByTerm label{
    grid-row: 1;
  }

  .filterFunctionSearchByTerm input{
    grid-row: 2;
  }

  .filterFunctionButton{
    padding-left: 20px;
  }
}

@media (max-width:767px) {
  #newsContainer{
    margin-top: 40px;
  }
  .filterFunctionButton{
    padding-left: 40px;
  }
}

@media (max-width:420px){
  #newsContainer{
    margin-top: 60px;
  }
  #newsFilterFunction{
    font-size: 12px;
    display: grid;
    grid-template-columns: 2;
    grid-auto-rows: 3;
  }
  .filterFunctionFromDate{
    grid-row: 1;
    grid-column: 1;
    display: grid;
    grid-auto-columns: auto auto;
    grid-auto-rows: auto;
  }

  .filterFunctionFromDate label{
    grid-row: 1;
    grid-column: 1;
  }

  .filterFunctionFromDate input{
    grid-row: 1;
    grid-column: 2;
  }

  .filterFunctionToDate{
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-auto-columns: auto auto;
    grid-auto-rows: auto;
  }

  .filterFunctionToDate label{
    grid-row: 1;
    grid-column: 1;
  }

  .filterFunctionToDate input{
    grid-row: 1;
    grid-column: 2;
  }

  .filterFunctionSearchByTerm{
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-auto-columns: auto auto;
    grid-auto-rows: auto;
  }

  .filterFunctionSearchByTerm label{
    grid-row: 1;
    grid-column: 1;
  }

  .filterFunctionSearchByTerm input{
    grid-row: 1;
    grid-column: 2;
  }

  .filterFunctionButton{
    grid-row: 2;
    grid-column: 2;
    padding-left: 20px;
  }
}

@media (max-width:340px){
  #newsFilterFunction{
    font-size: 10px;
    align-content: stretch;
  }
}

.filterFunction label,
.filterFunction input,
.filterFunction select {
    margin: 10px;
}

.Filterblock1 {
    display: inline;
}

.Filterblock2 {
    display: inline;
}

.filterFunction p {
    width: 70px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(/newElements/pictures/calendar.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.whiteTransparent {
    background: rgba(255, 255, 255, 0.8);
}

.animation {
    transition-duration: 0.5s;
}

.btn.animation:hover:after,
a.animation:hover:after {
    opacity: 1;
    height: 600% !important;
}

.btn.animation.blueButton p,
a.animation.blueButton p {
    margin: 0;
}

.btn.animation.blueButton,
a.animation.blueButton {
    margin: 5px;
    border-color: white;
    background: var(--Color2);
    color: var(--Color3);
}

.btn.animation:active,
.btn:focus,
a.animationn:active,
a:focus {
    color: var(--Color3)
}

.btn.animation.blueButton:hover,
a.animation.blueButton:hover {
    background: var(--Color3);
    color: var(--Color2);
    border-color: var(--Color2);
}

.btn.animation.blueButton:after,
a.animation.blueButton:after {
    background: var(--Color2);
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.btn.animation.whiteButton p,
a.animation.whiteButton p {
    margin: 0;
}

.btn.animation.whiteButton,
a.animation.whiteButton {
    margin: 5px;
    border-color: var(--Color2);
    background: var(--Color3);
    color: var(--Color2);
}

a.animation.whiteButton:active,
a:focus {
    color: var(--Color2)
}

.btn.animation.whiteButton:hover,
a.animation.whiteButton:hover {
    background: var(--Color2);
    color: var(--Color3);
    border-color: var(--Color3);
}

.btn.animation.whiteButton:after,
a.animation.whiteButton:after {
    background: var(--Color3);
    opacity: .5;
    -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.filterWhiteButton {
    opacity: 0.7;
}

/* Text */
.text {
    background: white;
    text-align: left;
    padding: 10px;
}

.textCenter p{
    text-align: center;
}

.text p {
    padding: 0;
}

.text h3 {
    padding-bottom: 10px;
}

bold {
    font-size: 18px;
    font-weight: bold;
    color: var(--Color2);
}

.tealLine {
    background: var(--Color6);
    height: 4px;
}
.tealLine1 {
    background: #57bad6;
    height: 5px;
}

.textApply {
    background: rgb(var(--Color2RGB));
    text-align: left;
    padding: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
}

.white p{
    color: white;
}

.white a {
    color: white;
    text-decoration: underline;
}

.gridUp {
    grid-row: 1;
}

.gridDown {
    grid-row: 2;
}

/* Header */
.currentPage a {
    color: #31A7C9 !important;
    font-weight: bold;
	font-size: 19px !important;
}

.mainHeaderLogo {
    top: 0;
    height: 60px;
    margin-left: 40px;
    z-index: 4;
    position: absolute;
}

.mainHeaderContainer {
    width: 100%;
    margin: 0 auto;
    grid-column: 2/3;
    right: 0;
}

.mainHeaderContainer ul {
    padding: 0;
}

.mainheader {
    background: rgba(var(--Color2Header), 1);
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 3;
    height: 65px;
    display: grid;
    grid-template-columns: 200px auto;
}

.mainheader a {
    /*color: #EEEEEE;*/
	color: #31A7C9;
    text-decoration: none;
    font-size: 17px;
}

.mainheader::after {
    content: '';
    display: table;
    clear: both;
}

.mainHeaderNav {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
}

.mainHeaderNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainHeaderNav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 25px;
    position: relative;
}

.mainHeaderNav a:hover {
    font-family: OrkneyBold;
}

.mainHeaderNav a::before {
    content: '';
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: 5px;
    width: 0;
}

/* NavBar */
.navbar-toggle collapsed {
    display: inline-block;
    cursor: pointer;
}

.stripe1,
.stripe2,
.stripe3 {
    width: 30px;
    height: 4px;
    background-color: rgba(var(--Color2RGB));
    margin: 5px 0;
    transition: 0.4s;
}

.change .stripe1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.change .stripe2 {
    opacity: 0;
}

.change .stripe3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* SubHeader */
.mainSubHeader {
    background-color: rgba(var(--Color6RGB), 0.85);
    width: 100%;
    overflow: hidden;
    margin-top: 65px;
    text-align: center;
    display: grid;
    grid-template-columns: 200px auto;
    position: fixed;
    z-index: 2;
}

.mainSubHeader a {
    text-decoration: none;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 16px;
}

.mainSubHeader a:hover {
    color: white;
}

.mainSubHeader ul {
    list-style: none;
    margin-bottom: 5px;
}

.mainSubHeader li {
    display: inline-grid;
    margin-right: 20px;
    padding-top: 5px;
}

.high {
    top: 65px;
}

.low {
    top: 96px;
}

.progress-container {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 8px;
}

.progress-bar {
    height: 8px;
    background: var(--Color5);
    width: 0%;
}

.previousApprenticeCard {
    display: none;
    margin-top: 20px;
}

.whitebar
{
	height: 30px;
	width: auto;
	color: red;
}

/*
br{
  display: none;
}
*/

/* Responsiveness */

@media (max-width:700px) {
    .three-cols .box {
        width: 49%;
    }

    .three-cols .box:nth-child(2n+1) {
        clear: both;
    }

    .three-cols .box:nth-child(3n+1) {
        clear: none;
    }
	

}

@media (max-width:600px) {

    .containerTile img {
        width: 200px;
        height: 175px;
    }

    .textTile h1 {
        font-size: 15px !important;
    }

    .textTile a {
        font-size: 10px;
    }

    .textTileBackground {
        width: 205px;
        position: absolute;
        transform: translate(15px, -55px);
        padding-bottom: 10px;
        padding-top: 35px;
    }

    .tile {
        padding-bottom: 70px !important;
    }

    #social {
        float: none;
    }

    #footerLinks {
        float: none;
    }

    #siteinfo .list-logos li {
        margin-top: 5px !important;
    }

    .mainheader a {
        font-size: 20px;
    }

    /*Hemant*/

    .roundCard {
        width: 100%;
        min-height: 40px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: 0px;

    }

    .roundCard img {
        width: 100%;
        border-radius: 25px 25px 25px 25px;
        object-fit: none;
    }

    br {
        display: block;
    }

    .textCard {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        grid-column: 2;
        display: grid;
        justify-content: center;
        grid-template-rows: 4;
    }

    .textCard ul {
        margin-bottom: 0;
    }

    .textCard h1,
    .textCard a {
        padding-top: 5px;
        margin-bottom: 0;
        font-size: 10px;
    }

    .textCard a {
        padding-top: 5px;
        bottom: 5px;
    }

    .textCard h2 {
        padding-top: 5px;
        font-size: 9px;
        margin-bottom: 0;
    }

    .textCard p {
        padding-top: 5px;
        font-size: 8px;
        margin-bottom: 0;
        line-height: 10px;
    }

    .filter {
        margin-top: 60px;
    }

    .filterFunction {
        text-align: center;

    }

    .Filterblock1 {
        display: block;
        font-size: 14px;
    }

    .Filterblock2 {
        display: block;
        font-size: 14px;
    }

    .filterWidth a {
        font-size: 16px;
        padding: 8px;
    }

    .container {
        text-align: center;
        padding: 10px;
    }

    .whiteCaption h2 {
        font-size: 25px;
    }

    .whiteCaption h1 {
        font-size: 25px;
    }

    .blueCaption h1 {
        font-size: 25px;
    }

    .blueCaption h1 {
        font-size: 25px;
    }

}

@media (max-width:740px) and (min-width:600px) {

    .roundCard {
        width: 100%;
        min-height: 40px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        border-radius: 25px;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .roundCard img {
        width: 100%;
        border-radius: 25px 25px 0px 0px;
    }

    .textCard {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        grid-column: 2;
        display: grid;
        justify-content: center;
        grid-template-rows: 4;
    }

    .textCard ul {
        margin-bottom: 0;
    }

    .textCard h1,
    .textCard a {
        padding-top: 5px;
        margin-bottom: 0;
        font-size: 12px;
    }

    .textCard a {
        padding-top: 5px;
        bottom: 5px;
    }

    .textCard h2 {
        padding-top: 5px;
        font-size: 10px;
        margin-bottom: 0;
    }

    .textCard p {
        padding-top: 5px;
        font-size: 10px;
        margin-bottom: 0;
        line-height: 10px;
    }

    .filter {
        margin-top: 30px;
    }

    .filterFunction {
        padding-top: 20px;
        text-align: center;
    }

    .Filterblock1 {
        display: block;
        font-size: 14px;
    }

    .Filterblock2 {
        display: block;
        font-size: 14px;
    }

    .filterWidth a {
        font-size: 16px;
        padding: 8px;
    }

    .container {
        text-align: center;
        padding: 10px;
    }


}



@media (max-width:767px) {
    .textApply {
        grid-template-columns: auto;
    }

    .textApplyFlex {
        text-align: center;
        display: block;
    }

    .tileEvent {
        padding-right: 0;
    }

    .tile {
        padding-right: 0;
        padding-bottom: 100px;
        padding-top: 30px;
    }

    #follow article {
        border-bottom: 1px solid var(--Color3);
    }

    #follow article .wrap {
        padding: 20px 15px;
    }

    .filter {
        margin-top: 40px;
    }

    #eventContainer{
      margin-top: 70px;
    }
}

@media (min-width: 1180px) {
    .collapse {
        display: block !important;
    }
}

@media (max-width:1180px) {
    .mainheader a {
        font-size: 24px;
    }

    .mainHeaderNav {
        margin-top: 20%;
        display: flow-root !important;
    }

    .mainHeaderNav li {
        display: flow-root !important;
    }

    .mainheader {
        display: flex;
        background: rgba(var(--Color2Header), 0.95);
        min-height: 37.4px;
    }

    #sub {
        display: none !important;
    }

    .low {
        top: 65px;
    }

    #nav-toggle {
        width: 45px;
        height: 45px;
        color: var(--Color3);
        font-size: 12px;
        display: block;
        text-align: center;
        position: absolute;
        right: 10px;
        border-radius: 0;
    }

    #nav-toggle i {
        font-style: normal;
        font-size: 24px;
        display: block;
        padding-top: 5px;
    }
}

@media (max-width:1126px) {
    .mainHeaderNav {
        display: inline-flex;
        float: center;
        margin-right: 30px;
    }

    .mainHeaderNav li {
        margin-left: 20px;
        position: inherit;
    }
}

@media (max-width:1300px) {
    .mainHeaderNav {
        display: flow-root;
        float: center;
        margin-right: 230px
    }

    .mainHeaderNav li {
        display: inline-block;
        margin-left: 30px;
        position: relative;
    }
}


/* lakhya_responsive_code_edu */

.sharpCardEdu {
    width: 100%;
    min-height: 150px;
    /*background: rgba(255, 255, 255, 0.90);*/
    background: rgba(var(--Color2RGB), 0.9);
    margin-top: 20px;
}

.textCardEdu {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.textCardEdu ul {
    margin-bottom: 0;
}

.textCardEdu h1,
.textCardEdu a {
    padding-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
}

.textCardEdu a {
    padding-top: 5px;
    bottom: 5px;
}

.textCardEdu h2 {
    padding-top: 5px;
    font-size: 10px;
    margin-bottom: 0;
}

.textCardEdu p {
    padding-top: 35px;
    color: white;
    margin-bottom: 0;
}


@media (max-width:700px) {

    .sharpCardEdu {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 2;
        margin-top: 20px;

    }

    .textCardEdu p {
        padding-top: 25px;
        padding-bottom: 15px;
    }

}
/* lakhya_responsive_code_supp */

select{
  width: 90%;
}

select{
  font-size: 12px;
}
.sharpCardSupportSup {
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.90);
    display: grid;
    grid-template-columns: 250px auto 180px;
    grid-template-rows: 40px auto;
}

.sharpCardSupportSup h2 {
    padding-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.sharpCardSupportSup img {
    height: 100%;
    width: 100%;
    grid-column: 1;
    object-fit: cover;
}

.sharpCardSupportSup form {
    padding-top: 5px;
    height: 60px;
}

#supportMonthForm {
    padding-top: 5px;
    height: 120px;
}

.sharpCardSupportSup p,
.sharpCardSupportSup li {
    font-family: OrkneyRegular !important;
    padding: 0 !important;
    font-size: 14px !important;
}

#supportPriceMonthly {
    padding-top: 10px;
}

.supportMonth p {
    margin: 0;
}

.stripeSup {
    grid-column: 1/4;
    background: var(--Color2);
}

.stripeSup h1 {
    color: white;
    font-size: 20px;
    padding-left: 15px;
}

.textCardSup {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    grid-column: 2;
    display: grid;
    grid-template-rows: 4;
}

.textCardSup ul {
    margin-bottom: 0;
}

.textCardSup h1,
.textCardSup a {
    padding-top: 10px;
    bottom: 5px;
    margin-bottom: 0;
    font-family: OrkneyMedium;
    font-size: 18px;
    color: var(--Color2);
}

.textCardSup h2 {
    padding-top: 10px;
    font-family: OrkneyBold;
    font-size: 12px;
    color: black;
    margin-bottom: 0;
    text-decoration: underline;
    text-transform: uppercase;
}

.textCardSup p {
    padding-top: 10px;
    font-family: OrkneyLight;
    font-size: 13px;
    color: black;
    margin-bottom: 0;
}

@media (max-width:700px) {

    .sharpCardSupportSup {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .stripeSup {
        grid-column: 1;
        grid-row: 1;
    }

    .stripeSup h1{
        margin-bottom: 0;
    }

    .sharpCardSupportSup img {
        height: inherit;
        width: 100%;
        grid-column: 1;
        grid-row: 2;
    }

    .textCardSup {
        grid-column: 1;
        grid-row: 3;
    }

    #paymentSup {
        grid-column: 1;
        grid-row: 4;
    }

}

/* lakhya_responsive_code_News */

#newsContainer img {
    max-height: 450px;
}

.sharpCardNews {
    width: 100%;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.90);
    display: grid;
    grid-template-columns: 230px auto;
}

.sharpCardNews img {
    width: 100%;
    height: 100%;
    max-width: 230px;
    grid-column: 1;
    object-fit: cover;
}

.textCardNews {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    grid-column: 2;
    display: grid;
    grid-template-rows: 4;
}

.textCardNews ul {
    margin-bottom: 0;
}

.textCardNews h1,
.textCardNews a {
    padding-top: 10px;
    bottom: 5px;
    margin-bottom: 0;
    font-family: OrkneyMedium;
    font-size: 15px;
    color: var(--Color2);
}

.textCardNews h2 {
    padding-top: 10px;
    font-family: OrkneyBold;
    font-size: 17px;
    color: black;
    margin-bottom: 0;
    text-decoration: underline;
    /* text-transform: uppercase; */
}

.textCardNews p {
    padding-top: 10px;
    font-family: OrkneyLight;
    font-size: 13px;
    color: black;
    margin-bottom: 0;
}

@media (max-width:700px) {

    .sharpCardNews {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: 2;
        margin-top: 20px;

    }

    .sharpCardNews img {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 400px;
        max-width: inherit;

    }

    .textCardNews {
        grid-row: 2;
        grid-column: 1;
    }

}

